body {
    background: linear-gradient(to right, #ce1c52, #35ecfc);
   
  }
  
  .search-container {
    width: 300px;
    margin: 0 auto;
  }
  
  #search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  #results {
    width: 100%;
    margin-top: 10px;
  }
  
  #results div {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  